<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            .row:not(:last-child) {
                border-bottom: 1px solid #999999;
                margin-bottom: 1em;
                padding-top: 1ex;
                padding-bottom: 1ex;
            }
        </style>
        <script type="text/javascript" src="./bundle.js" async defer></script>
    </head>
    <body>
        <h1>標準ディレクティブ</h1>
        <section id="main" class="container">
            <section class="row">
                <div class="col-md-4">
                        &lt;div v-text=&quot;message&quot;&gt;メッセージ&lt;/div&gt;
                </div>
                <div class="col-md-4">
                    <input v-model="message">
                </div>
                <div class="col-md-4" v-text="message">
                    メッセージ
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                        &lt;div v-html=&quot;html&quot;&gt;html&lt;/div&gt;
                </div>
                <div class="col-md-4">
                    <input v-model="html">
                </div>
                <div class="col-md-4" v-html="html">
                    html
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                        &lt;div v-if=&quot;visibleIf&quot;&gt;if&lt;/div&gt;
                </div>
                <div class="col-md-4">
                    <label><input type="checkbox" v-model="visibleIf">if</label>
                </div>
                <div class="col-md-4" v-if="visibleIf">
                    if
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                        &lt;div v-show=&quot;visibleShow&quot;&gt;show&lt;/div&gt;<br>
                        &lt;div v-else&gt;else&lt;/div&gt;
                </div>
                <div class="col-md-4">
                    <label><input type="checkbox" v-model="visibleShow">show</label>
                </div>
                <div class="col-md-4" v-show="visibleShow">
                    show
                </div>
                <div class="col-md-4" v-else>
                    else
                </div>
            </section>
            <section class="row">
                <div class="col-md-4" v-pre>
                    &lt;span v-for=&quot;n in numbers&quot;&gt;n = {{ n }},&lt;/span&gt;
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <span v-for="n in numbers">n = {{ n }},</span>
                </div>
            </section>
            <section class="row">
                <div class="col-md-4">
                    &lt;button v-on:click=&quot;alert('v-on')&quot;&gt;click me&lt;/button&gt;
                </div>
                <div class="col-md-4">
                    @click=&quot;～&quot;と一緒
                </div>
                <div class="col-md-4">
                    <button v-on:click="alert('v-on')">click me</button>
                </div>
            </section>
        </section>
    </body>
</html>
